<% post_data = post_data(post, view: :show) %>
<div id="<%= dom_id post %>" class="post-box">
  <div class="post-header">
    <% if post_data[:has_image] %>
      <span>
        圖片檔名：
        <%= link_to post_data[:image_filename], post_data[:image_url], target: "_blank", style: "color:blue" %>
        - (<%= number_to_human_size(post_data[:image_byte_size]) %>)
      </span><br>
    <% elsif post_data[:has_video] %>
      <span>
        影片檔名：
        <%= link_to post_data[:video_filename], post_data[:video_url], target: "_blank", style: "color:blue" %>
        - (<%= number_to_human_size(post_data[:video_byte_size]) %>)
      </span><br>
    <% end %>

    發表於：<%= post_data[:created_at] %>
    <span class="post-id">ID: <%= post_data[:hashed_ip] %></span>
  </div>

  <div>
    <span class="post-name"><%= post_data[:name].presence || "無名" %></span>：
    <p><%= simple_format(post_data[:content].presence || "無本文") %></p>
  </div>

  <% if post_data[:has_image] %>
    <div>
      <img src="<%= post_data[:image_url] %>" class="post-image" alt="圖片">
    </div>
  <% elsif post_data[:has_video] %>
    <div>
      <video controls class="post-video" preload="metadata">
        <source src="<%= post_data[:video_url] %>" type="<%= post_data[:video_content_type] %>">
        您的瀏覽器不支援影片播放。
      </video>
    </div>
  <% elsif post_data[:has_youtube_links] %>
    <div class="youtube-container">
      <% post_data[:youtube_video_ids].each do |video_id| %>
        <div class="youtube-embed">
          <iframe src="https://www.youtube.com/embed/<%= video_id %>" 
                  frameborder="0" 
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                  allowfullscreen 
                  class="youtube-video">
          </iframe>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
